.abc{
    background-image: url("../../assets/123.jpeg");
    height:80vh;
    width: 80%;
   margin-left: 10%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.admin-btn{
    cursor: pointer;
    padding: 30px 30px;
    border-radius: 10px;
    margin: 0;
    position: relative;
    top: 35%;
    left:70%;
    
    
}